HOST=0.0.0.0
PORT=8010

DB_HOST=localhost
DB_PORT=1080
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=agregator
DB_SSLMODE=disable

LOG_LEVEL=debug
LOG_FILE=./storage/logs/app.log
LOG_SIZE=10 # in megabytes
LOG_BACKUP=5 # number of backup files to keep
LOG_AGE=30 # in days

SVG_LOGIN=svgadmin
SVG_PASSWORD=svgadmin

APP_TIMEZONE=Europe/Samara